<%- include("partials/head") %>

<nav>
  <div class="wrapper">
    <div class="logo">
      <a href="/">The Planets</a>
      <button class="hamburger">
        <i class="fa-solid fa-bars show"></i>
        <i class="fa-solid fa-xmark hide"></i>
      </button>
    </div>

    <ul class="nav-list">
      <li class="nav_list_item venus">
        <h4><a href="/mercury">Mercury</a></h4>
      </li>

      <li class="nav_list_item venus">
        <h4><a href="/venus">Venus</a></h4>
      </li>
      <li>
        <h4><a href="/earth">Earth</a></h4>
      </li>
      <li>
        <h4><a href="/mars">Mars</a></h4>
      </li>
      <li>
        <h4><a href="/jupiter">Jupiter</a></h4>
      </li>
      <li>
        <h4><a href="/saturn">Saturn</a></h4>
      </li>
      <li>
        <h4><a href="/uranus">Uranus</a></h4>
      </li>
      <li>
        <h4><a href="/neptune">Neptune</a></h4>
      </li>
    </ul>
    <ul class="menu-list">
      <li>
        <a href="">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#DEF4FC" />
              </svg>
              <h4>Mercury</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#F7CC7F" />
              </svg>
              <h4>Venus</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#545BFE" />
              </svg>
              <h4>Earth</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#FF6A45" />
              </svg>
              <h4>Mars</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#ECAD7A" />
              </svg>
              <h4>Jupiter</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#FCCB6B" />
              </svg>
              <h4>Saturn</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="/">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#65F0D5" />
              </svg>
              <h4>Uranus</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="/">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#497EFA" />
              </svg>
              <h4>Neptune</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
<main>
  <section class="wrapper">
    <div class="planet">
      <div class="planetImageWrapper">
        <img src="<%=data.images.planet %>" class="planetImage" alt="" />
        <img src="<%=data.images.geology %>" class="planetGeology" alt="" />
      </div>
      <img src="<%=data.images.internal %>" class="planetInternal" alt="" />
    </div>

    <div class="planetInfo">
      <h1 class="mainPlanetName"><%= data.name %></h1>
      <p><%=data.overview.content%></p>
      <p>Source : <a href="<%= data.overview.source %>">Wikipedia</a></p>
      <ul class="'overviewList">
        <li class="main_list_Item overview bgColor">
          <span>01</span> Overview
        </li>
        <li class="main_list_Item structure">
          <span>02</span> Internal Structure
        </li>
        <li class="main_list_Item geology"><span>03</span> Surface Geology</li>
      </ul>
    </div>
  </section>
</main>
<%- include("partials/script") %> <%- include("partials/footer") %>
