<%- include("partials/head") %>

<nav>
  <div class="wrapper">
    <div class="logo">
      <a href="/">The Planets</a>
      <button id="hamburger" class="hamburger">
        <i class="fa-solid fa-bars show"></i>
        <i class="fa-solid fa-xmark hide"></i>
      </button>
    </div>

    <ul class="nav-list">
      <li class="nav-list-item">
        <h4><a href="/mercury">Mercury</a></h4>
      </li>

      <li class="nav-list-item">
        <h4><a href="/venus">Venus</a></h4>
      </li>
      <li class="nav-list-item">
        <h4><a href="/earth">Earth</a></h4>
      </li>
      <li class="nav-list-item">
        <h4><a href="/mars">Mars</a></h4>
      </li>
      <li class="nav-list-item">
        <h4><a href="/jupiter">Jupiter</a></h4>
      </li>
      <li class="nav-list-item">
        <h4><a href="/saturn">Saturn</a></h4>
      </li>
      <li class="nav-list-item">
        <h4><a href="/uranus">Uranus</a></h4>
      </li>
      <li class="nav-list-item">
        <h4><a href="/neptune">Neptune</a></h4>
      </li>
    </ul>
    <ul class="menu-list">
      <li>
        <a href="/mercury">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#DEF4FC" />
              </svg>
              <h4>Mercury</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="/venus">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#F7CC7F" />
              </svg>
              <h4>Venus</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="/earth">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#545BFE" />
              </svg>
              <h4>Earth</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="/mars">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#FF6A45" />
              </svg>
              <h4>Mars</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="/jupiter">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#ECAD7A" />
              </svg>
              <h4>Jupiter</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="/saturn">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#FCCB6B" />
              </svg>
              <h4>Saturn</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="/uranus">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#65F0D5" />
              </svg>
              <h4>Uranus</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a href="/neptune">
          <div class="wrapper">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <circle cx="10" cy="10" r="10" fill="#497EFA" />
              </svg>
              <h4>Neptune</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8">
              <path fill="none" stroke="#FFF" opacity=".4" d="M1 0l4 4-4 4" />
            </svg>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
<main>
  <div class="mobileOverview">
    <ul class="'overviewList">
      <li class="main_list_Item overview">Overview</li>
      <li class="main_list_Item structure">Structure</li>
      <li class="main_list_Item geology">Geology</li>
    </ul>
  </div>
  <section class="wrapper">
    <div class="planet">
      <div class="planetImageWrapper">
        <img src="<%=data.images.planet %>" class="planetImage" alt="planet" />
        <img
          src="<%=data.images.geology %>"
          class="planetGeology"
          alt="geologyInfo"
        />
      </div>
      <img
        src="<%=data.images.internal %>"
        class="planetInternal"
        alt="planetInternalInfo"
      />
    </div>

    <div class="planetInfo">
      <div>
        <h1 class="mainPlanetName"><%= data.name %></h1>
        <p class="overviewInfo"><%=data.overview.content%></p>
        <p class="structureInfo"><%=data.structure.content%></p>
        <p class="geologyInfo"><%=data.geology.content%></p>
        <p>
          Source : <a href="<%= data.overview.source %>">Wikipedia</a>
          <img src="/assets/icon-source.svg" alt="icon" />
        </p>
      </div>
      <div>
        <ul class="'overviewList">
          <li class="main_list_Item overview"><span>01</span> Overview</li>
          <li class="main_list_Item structure">
            <span>02</span> Internal Structure
          </li>
          <li class="main_list_Item geology">
            <span>03</span> Surface Geology
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
<footer>
  <div class="wrapper">
    <div class="rotationTime">
      <p>Rotation Time</p>
      <h2><%= data.rotation %></h2>
    </div>
    <div class="rotationTime">
      <p>Revolution Time</p>
      <h2><%= data.revolution %></h2>
    </div>
    <div class="rotationTime">
      <p>Radius</p>
      <h2><%= data.radius %></h2>
    </div>
    <div class="rotationTime">
      <p>Average Temp.</p>
      <h2><%= data.temperature %></h2>
    </div>
  </div>
</footer>
<%- include("partials/script") %> <%- include("partials/footer") %>
